// .wrapper {
//     margin-left: auto;
//     max-height: 100%;
// }

// .list {
//     display: flex;
//     justify-content: flex-end;
//     width: 100%;
//     align-items: center;
// }

// .item {
//     display: inline-block;
//     list-style: none;
//     padding: 0;
//     position: relative;
//     margin: 0 7px;

//     &:first-child {
//         margin-left: 0;
//     }

//     &:last-child {
//         margin-right: 0;
//     }

//     a {
//         font-weight: 700;
//         font-family: 'Lato', sans-serif;
//         font-size: 0.8em;
//         letter-spacing: 0.02em;
//         text-transform: uppercase;
//         color: rgba(102, 102, 102, 0.85);
//         padding: 10px 0;
//         display: inline-flex;
//         flex-wrap: wrap;
//         align-items: center;
//     }
// }

// .divider {
//     border-left: 1px solid rgba(0, 0, 0, 0.1);
//     height: 30px;
//     vertical-align: middle;
//     position: relative;
//     margin: 0 7.5px;
//     display: inline-block;
// }

// .dropdown {
//     font-size: 16px;
//     margin-left: 0.2em;
//     opacity: 0.6;
//     vertical-align: middle;
//     position: relative;
//     line-height: 1.2;
// }
.wrapper {
    width: 1200px;
    position: relative;
    z-index: 5;
    max-width: 980px;
    border: unset;
    text-align: center;
}

.list {
    display: flex;
    font-size: 0;
    justify-content: space-evenly;
    margin-bottom: 0px;
    list-style: none;
}

.item {
    display: inline-block;
    border-left: 0px;
    padding: 0;
    vertical-align: middle;

    a {
        display: block;
        padding: 22px 16px;
        line-height: 20px;
        font-size: 15px;
        color: #d2d2d7;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #626265;
        }

        svg {
            overflow: hidden;
            vertical-align: middle;
        }
    }
}
