.wrapper {
    width: auto;
    margin: 0;
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 24px 20px 16px 20px;
    position: relative;
    text-align: left;
    clear: both;

    &:hover {
        border-color: #02010100;
        box-shadow: 1px 1px 28px 0px rgb(0 0 0 / 12%);
    }
}

.tag {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    min-height: 50px;
    top: 7px;
    right: 8px;
    z-index: 2;

    img {
        max-width: 100px;
        max-height: 50px;
    }
}

.picture {
    margin: 25px 0 20px;
    background-color: #fff;

    a {
        display: block;
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            transition: all 0.3s ease;
            opacity: 0.99;
        }
    }
}

.details {
    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #1d1d1f;
        min-height: 54px;

        a {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #1d1d1f;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

.prices {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.price-ratio-container {
    span {
        color: #86868b;
        margin: 0 5px 0 5px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
}

.old-price {
    color: #86868b;
    margin: 0 5px 0 5px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
}

.actual-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0066cc;
    margin-right: 5px;
}
