.newletter {
    background: #f2f2f2;
    width: 100%;
    margin: auto;
    padding: 50px 0px 50px 0px;

    &-heading {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        color: #1d1d1f;
        line-height: 36px;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #515154;
        padding: 8px 0;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 20px 10px 20px;
        width: 100%;
    }

    &-subcribe {
        width: 100%;
    }

    &-email {
        align-items: center;
        justify-content: center;
        display: inline-flex;
        width: 100%;
        overflow: hidden;

        input {
            height: 40px;
            border-radius: 40px 0 0 40px;
            line-height: 20px;
            padding: 10px 0 10px 24px;
            color: #515154;
            width: 100%;
            border: unset;
            max-width: 470px;
            padding-left: 20px;
            float: left;
            vertical-align: middle;
            margin: 0 -1px 0 0;
            font-size: 15px;
        }

        button {
            min-width: 100px;
            height: 40px;
            border: none;
            text-align: center;
            color: #fff;
            line-height: inherit;
            padding: 0 5px;
            border-radius: 40px;
            background: #0066cc;
            font-size: 12px;
            margin-left: -52px;
            text-transform: none;
            z-index: 2;
        }
    }
}

.main {
    background-color: #1d1d1f;
    text-align: center;

    &-top {
        border-bottom: 1px solid #515154;
        padding: 64px 0px 21px;
        display: flex;
        width: 1200px;
        margin: auto;
        font-size: 0;
    }

    &-box {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        text-align: left;
    }
}

.follow-us {
    padding-bottom: 20px;
    order: 1;
    width: 30%;
    text-align: left;
}

.logo {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 0;

    a {
        display: inline-block;
        max-width: 100%;
        line-height: 0;

        img {
            max-width: 184px;
            max-height: 48px;
        }
    }
}

.text {
    div {
        text-align: justify;
        line-height: 24px;
        font-size: 16px;

        p {
            margin: 10px 0;
            text-align: justify;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #d2d2d7;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}

.social {
    ul {
        padding-bottom: 30px;
        font-size: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 20px;

            a {
                display: block;
                width: 38px;
                height: 38px;
            }
        }
    }
}

.information {
    padding-left: 60px;
    order: 2;
    width: 25%;
}

.title {
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;

    strong {
        font-weight: normal;
    }
}

.list {
    background-color: #1d1d1f;
    display: block;
    list-style: none;

    li {
        color: #86868b;
        font-size: 13px;
        line-height: 28px;

        a {
            display: inline;
            line-height: 20px;
        }
    }
}

.customer-service {
    order: 3;
    padding-left: 60px;
    width: 20%;
}

.my-account {
    order: 4;
    padding-left: 60px;
    width: 25%;
}

.main-bottom {
    padding: 20px 0px 32px 0px;
    width: 1200px;
    font-size: 12px;
    margin: auto;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    & > div {
        float: left;
        text-align: left;
        display: flex;
        width: 100%;
        justify-content: space-between;
        line-height: 32px;

        span {
            font-size: 13px;
            line-height: 20px;
            color: #515154;
        }

        a img {
            float: right;
            width: 139px;
        }
    }
}
