.content {
    max-width: 1185px;
    margin: auto;
    width: 100%;
    padding: 40px 15px 100px;
}

.content-inner {
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 65%;

    & > div {
        margin-bottom: 25px;
        text-align: justify;
        line-height: 24px;
        font-size: 16px;

        p {
            margin: 10px 0;
            text-align: justify;

            img {
                width: 100%;
            }
        }
    }
}

.form {
    width: 35%;

    &-title {
        min-height: 50px;
        text-align: left;

        h1 {
            font-size: 30px;
            font-weight: normal;
            line-height: 54px;
            padding: 16px 0;
            color: #1d1d1f;
        }
    }

    & > label {
        font-size: 15px;
        line-height: 24px;
        color: #1d1d1f;
        margin-bottom: 0;
        float: left;
        text-align: start;
        vertical-align: middle;
        display: inline-block;
    }

    &-group {
        margin-bottom: 15px;
        white-space: unset;

        & > label {
            width: 100%;
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #1d1d1f;
            margin-right: 10px;
            vertical-align: middle;
        }

        & > input {
            background: #ffffff;
            border: 1px solid #ebebeb;
            border-radius: 8px;
            min-height: 48px;
            height: 48px;
            width: 100%;
            padding: 8px;
            vertical-align: middle;
            font-size: 15px;
            padding-left: 16px;
        }
    }
}

.fieldset {
    margin: 45px 0 24px;
    vertical-align: middle;
}

.btn {
    text-align: center;
    margin-bottom: 16px;

    button {
        background: #0066cc;
        border-radius: 8px;
        width: 100%;
        min-height: 48px;
        text-transform: none;
        min-width: 140px;
        border: none;
        padding: 10px 30px;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
    }
}
