.wrapper {
    position: relative;
}

.inner {
    margin-bottom: 70px;
    text-align: center;
}

.title {
    min-height: 50px;
    margin: 0;
    padding: 16px 0 6px;
    border-bottom: 0px;

    h1 {
        font-size: 24px;
        line-height: 36px;
        color: #1d1d1f;
        font-weight: normal;
    }
}

.content {
    & > div {
        margin-bottom: 25px;
        text-align: justify;
        line-height: 24px;
        font-size: 16px;

        p {
            text-align: center;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #515154;
        }
    }
}

.comeback {
    background: #0066cc;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    padding: 15px 134px;
}
