.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #1d1d1f;
    margin-bottom: 15px;
    margin-top: 15px;
}

.not-login {
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #1d1d1f;
        margin-right: 40px;
    }

    a {
        min-width: 163px;
        background: #0066cc;
        border-radius: 8px;
        padding: 11px 30px;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #ffffff;
    }
}

.billing {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 20px;
}

.billing-form {
    position: relative;
    // margin: 0 0 40px;
}

.enter-address {
    background-color: #fff;
}

.edit-address {
    padding: 8px 0 0;
    background: #fff;
}

.inputs {
    text-align: left;
    position: relative;
    margin: 0 0 15px;
    white-space: nowrap;
    font-size: 0;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    input[type='text'] {
        width: 100%;
        border: 1px solid #ebebeb;
        border-radius: 8px;
        height: 48px;
        min-height: 40px;
        max-width: 100%;
        background-color: #fff;
        padding: 8px;
        vertical-align: middle;
        font-size: 15px;
        padding-left: 16px;
        line-height: inherit;
    }

    label {
        width: 100px;
        display: block;
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        color: #1d1d1f;
        margin-bottom: 5px;
    }

    select {
        width: 100% !important;
        border: 1px solid #ebebeb;
        border-radius: 8px;
        height: 48px;
        min-height: 40px;
        max-width: 100%;
        background-color: #fff;
        -webkit-appearance: none;
        background-image: url('https://shopdunk.com/images/uploaded-source/icon/arrow-down.png');
        background-size: 12px;
        background-repeat: no-repeat;
        background-position-x: 97%;
        background-position-y: 20px;
        padding-left: 15px;
        font-size: 15px;
        min-width: 50px;
        padding: 6px;
        padding-left: 15px;
    }
}

.one-col {
    width: 100%;
    display: inline-block;
}

.two-col {
    width: 49%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tt_receive_method {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1f;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.receive-method {
    display: flex;
    align-items: baseline;

    input[type='radio'] {
        margin-right: 5px;
        position: relative;
        top: 1px;
        cursor: pointer;
        vertical-align: middle;
        font-size: 15px;
    }

    label {
        width: 100px;
        display: block;
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        color: #1d1d1f;
        margin-bottom: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
}

#receive-home {
    margin-left: 30px;
}

.checkbox-bill-company {
    display: flex;
    align-items: flex-start;

    input {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        color: #1d1d1f;
    }

    label {
        color: #1d1d1f;
        display: inline-block;
        margin-bottom: 0.5rem;
    }
}

.payment {
    margin-top: 16px;
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 20px;

    & > div:last-child {
        padding-top: 20px;
    }
}

.tt-address-select {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1f;
}

.notice-payment {
    padding-top: 8px;
}

.method-list {
    overflow: hidden;
    text-align: center;
    font-size: 0;
    justify-content: space-between;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin-top: 16px !important;
    margin-bottom: 0 !important;

    li {
        display: block;
        width: 100%;
        vertical-align: top;
        font-size: 14px;
    }
}

.method-name {
    border: 1px solid #d2d2d7;
    border-radius: 8px;
}

.payment-details {
    display: flex;
    width: 100%;
    padding-left: 16px;
    align-items: center;
    margin-left: 10px;
    vertical-align: middle;
}

.payment-radio {
    display: flex;
}

.payment-logo {
    display: block;
    padding: 0;
    margin: 0 12px;
    background: #fff;

    label {
        font-weight: bold;
        color: #444;
        width: 100%;
        text-align: left;
        display: block;

        img {
            border-radius: 8px;
            object-fit: contain;
            vertical-align: middle;
            border-style: none;
        }
    }
}

.payment-title {
    width: 100%;

    label {
        font-size: 13px;
        font-weight: bold;
        color: #444;
        width: 100%;
        text-align: left;
        padding: 23px 0;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
    }
}
